<h1 id="logo">
	<a href="{{ url:site }}">{{ settings:site_name }}</a>
	<small>{{ settings:site_slogan }}</small>
</h1>
<nav>
{{ navigation:links group="header" }}
	<a href="{{ url }}" class="{{ class }}" target="{{ target }}">{{ title }}</a>
{{ /navigation:links }}
</nav>
<div id="mobile-nav">
	<select>
	{{ navigation:links group="mobile" }}
		<option class="{{ class }}" value="{{ url }}"{{ if url == url:current }} selected="selected"{{ endif }}>{{ title }}</option>
	{{ /navigation:links }}
	</select>
</div>