<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="{{ theme:img_url file="favicon.ico" }}">

<!-- Load jQuery Early for Page JS INjection -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ theme:js_url file="jquery.js" }}"><\/script>')</script>

<!-- Metadata from the CMS -->
{{ template:metadata }}

<!-- Mobile Viewport -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">

<title>{{ page:title }} &bull; {{ settings:site_name }}</title>

<!-- CSS for Fonts Module -->
{{ fonts:css }}

<link rel="stylesheet" type="text/css" href="{{ theme:css_url file="style.css" }}" />

<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<script type="text/javascript">
    var SITE_URL = '<?php echo site_url(); ?>';
</script>
{{ asset:render group="head" }}