<!doctype html>
<html class="{{ agent:ua_class }}" lang="en">
	<head>
		{{ theme:partial name="metadata" }}
	</head>
	<body class="{{ url:segments segment='1' }}{{ if
            global:module != {url:segments segment='1' } }} {{ global:module }}{{ endif }}{{ if
            global:controller != global:module }} {{ global:controller }}{{ endif }}{{ if
            global:method != {url:segments segment='1' } }} {{ global:method }}{{ endif }}{{ if
            page:slug != {url:segments segment='1' } }} {{ page:slug }}{{ endif }}">
		{{ theme:partial name="update_browser" }}
		{{ session:messages success="alert alert-block alert-success container" notice="alert alert-block alert-info container" error="alert alert-block alert-error container" }}
		<div role="main" id="content">
			<div class="wrapper">
			{{ if
				page:slug == 'home'
			}}
				{{ theme:partial name="pages/{{ page:slug }}" }}
			{{ else }}
				{{ template:body }}
			{{ endif }}
			</div>
		</div>
		<header>
			<div class="wrapper">
				{{ theme:partial name="header" }}
			</div>
		</header>
		<footer>
			<div class="wrapper">
				{{ theme:partial name="footer" }}
			</div>
		</footer>
		{{ theme:partial name="js" }}
	</body>
</html>