@for $i from 1 through 6{
	h#{$i}{
		margin-top:0;
		color: $textColor;
		text: {
			decoration: none;
			rendering: optimizelegibility;
		}
		font: {
			weight: bold;
			size: ( 2 - ( $i / 4 ))em;
		}
		
		small{
			font-weight: normal;
			color: lighten($textColor, 10%);
		}
	}
	
	h#{$i} a{
		@extend h#{$i};
		&:hover{
			text-decoration: underline;
			color: $black;
		}
	}
}

blockquote{
	background: #fff;
	padding: 20px 35px;
	width: auto;
	border: none;

	&.center{
		p{
			text-align: center;
		}
	}
}

hr { 
	display: block; 
	margin: 1em 0; 
	padding: 0;
	height: 1px; 
	border: 0; 
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid lighten($borderColor, 15%);
}

p{
	text-align: justify;
}