.wrapper{
    position: relative;
    @include clearfix();
}

.page-chunk{
    background: $contentColor;
    padding: $gutter ($gutter * 1.5);
    min-height: 250px;
    clear: both;
    margin: 0px {
        bottom: $gutter;
    }
    
	@import "_content_elements";
}

#comments{
    width: 75%;
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
    
    .comment{
        background: $contentColor;
        @include box-shadow(1px 2px 15px $shadowColor);
        padding: 8px;
        margin: 0px{
            bottom: 1px;
        }
        clear: both;
        
        .image{
            float: right;
            
            img{
                background: #fff;
                border: 1px solid $shadowColor;
                padding: 4px;
                @include box-shadow(inset 1px 2px 10px rgba(0,0,0,0.3));
            }
        }
        
        .details{
                
            .name{
                float: left;
                max-width: 60%;
                
                p{
                    margin: 0;
                    
                    a{
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }

            .date{
                float: left;
                clear: left;
                color: $shadowColor;
                font: {
                    family: $altFont;
                    size: 11px;
                }
                
                p{
                    margin: 0 {
                        bottom: 10px;
                    }
                }
            }
        
            .content{
                clear: both;
                padding: 10px 0;

                p{
                    margin: 0 {
                        bottom: 6px;
                    }
                }
            }
        
        }
    }
    
    form{
        padding-top: 60px;
    }
}