@inlcude "_blend_modes";

@mixin aspect-ratio($x, $y, $elem: 'div', $dummy: '.dummy'){
    @include inline-block;
    @inlcude box-sizing(border-box);
    position: relative;
    width: 100%;
    
    #{$elem}{
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
    
    > #{$dummy}{
        padding-top: (($y / $x) * 100%);
    }
}

@mixin text-stroke($width, $color, $drop: 0) {
    $shadow: 0 0 0 transparent;
    $i: 1;
    $w: 1;
    $width: $width / 1px;
    
    @for $i from 1 through $width {
    	$j: 0;
        $w: $w + 2;
 
		@for $r from 1 through $w {
            @for $c from 1 through $w {
                $y: $r - ceil($w / 2);
                $x: $c - ceil($w / 2);

        		$shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
            }
		}
    	$i: $i + 1;
	}
    
    @if $drop > 0 {
        @for $i from $width through $width + $drop {
            $x: $i;
            $y: $i;
            
            $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
        }
    }
 
	text-shadow: $shadow;
}