#logo{
	margin: 0;
	
	a{
		display: block;
		@include hide-text;
		
		&:hover{
			opacity: 0.95;
		}
	}
	
	small{
		display: none;
	}
}

nav{
	display: none;
	
	a{
		
		
		&:hover{
		
		}
		
		&:visited{
		
		}
	}
}

#mobile-nav{

}