.one-quarter,
.one-third,
.one-half,
.two-thirds{
    padding-bottom: $gutter;
    padding-left: $gutter;
    @include box-sizing(border-box);
}

form{
    margin: 0px;
    
    ul{
        margin: 0px;
        
        li{
            list-style: none;
			padding: 0;
            
            input[type="text"],
            input[type="password"],
            textarea{
                @include box-sizing(border-box);
                width: 100%;
                @include border-radius(3px);
                border: 2px solid $gray;
                height: auto;
                line-height: auto;
                font-size: 17px;
                padding: 4px 7px;
                color: #666;
                
                &.watermarked{
                    color: $gray;
                }
            }
            
            &.buttons{
                text-align: right;
            }
        }
    }
}

#media-size,
#media-res{
    position: fixed;
    bottom: 0px;
    padding: 2px;
    text-align: left;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    @include text-stroke(3px, $white);
}

#media-size{
    left: 0px;
    
    &:after{
        content: 'Mobile';
    }
}

#media-res{
    right: 0px;
    text-align: right;
}