@import "_root_elements",
		"_plugins";

html {
    background: $bodyColor; 
    -webkit-overflow-scrolling: touch; 
    -webkit-tap-highlight-color: lighten($baseColor, 75%); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
    
	@import "_browsers";
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    font-family: $baseFont;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    color: $textColor; 
    
    .wrapper{
        padding: 0 ($gutter / 2);
        width: 100%;
        max-width: $tab-port;
        margin: 0 auto;
        @include box-sizing(border-box);
    }

	header{
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		height: $headerHeight;
		
		@import "_header";
	}
	
	#content{
		padding-top: $headerHeight;
		
		@import "_content";
	}
	
	footer{
		@import "_footer";
	}
    
	@import "_pages",
			"_modules";
}

@import "_screen_sizes";