$gutter: 20px;
$headerHeight: 100px;

// Theme Colors
$baseColor: #2D353E;
$bodyColor: #FFF;
$contentColor: #FFF;
$textColor: #000;
$shadowColor: darken($bodyColor, 25%);
$borderColor: lighten($baseColor, 60%);

// Social Media colors

$fb_color: #3B5998; // Facebook
$fl_color: #FE0883; // Flickr
$fs_color: #8FD400; // Foursquare
$go_color: #D6492C; // Google+
$li_color: #4875B4; // LinkedIn
$tu_color: #2B4964; // Tumblr
$tw_color: #33CCFF; // Twitter
$vi_color: #86B32D; // Vimeo
$yt_color: #FF3333; // YouTube

// Screen Sizes

$mobile-land: 478px;
$tab-small: 600px;
$tab-port: 768px;
$tab-land: 1045px;
$normal: 1281px;
$large: 1600px;

// Typography

$baseFont: Verdana, Arial, Sans-Serif;
$baseFontSize: 16px;
$baseLineHeight: ($baseFontSize * 1.35);

$altFont: "Arial Black", Arial, Sans-Serif;