body{
	.wrapper{
		
	}

	header{
		
	}

	#content{
		
	}

	footer{
		
	}
}

.one-quarter,
.one-third,
.one-half,
.two-thirds{
    float: left;
    padding-left: $gutter;
    width: 50%;
    
    &.left{
        padding-left: 0px;
    }
}

#media-size{    
    &:after{
        content: 'Mobile (Landscape)';
    }
}