body{
    
    .wrapper{
        max-width: $tab-land;
		padding: 0 $gutter;
    }

	header{
		
	}

	#content{
		
	}

	footer{
		
	}
}

#media-size{    
    &:after{
        content: 'Tablet (Landscape)';
    }
}