body{
    
    .wrapper{
        max-width: $tab-small;
    }

	header{
		nav{
			display: block;
		}
		
		#mobile-nav{
			display: none;
		}
	}

	#content{
		
	}

	footer{
		
	}
}

#media-size{    
    &:after{
        content: 'Tablet (Small)';
    }
}