body{
    
    .wrapper{
        max-width: $tab-port;
    }

	header{
		
	}

	#content{
		
	}

	footer{
		
	}
}

.one-quarter,
.one-third,
.one-half,
.two-thirds{
    padding-left: $gutter;
    padding-bottom: $gutter;
    
    &.left{
        padding-left: 0px;
    }
}
    
.one-quarter{
    width: 25%;
}

.one-third{
    width: (100% / 3);
}

.one-half{
    width: 50%;
}

.two-thirds{
    width: (100% / 3) * 2;
}

#media-size{    
    &:after{
        content: 'Tablet (Portrait)';
    }
}